/**
* sass
*
*
*/
/* Reference another stylesheet */
@import "media";

/* Variables */
$blue:#9fbfbf;
$margin:5%;
$cream:#f2efeb;
$cream2:$cream - 100;/* makes a darker version. */

h1 {
    color: $blue;
}
header {
    margin: 20px $margin;
}

/* Mixins: variables for functions. 20px is default if no value supplied */
@mixin border-radius($radius: 20px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
.normal-class {
    @include border-radius;/* provides the default 20px */
    @include border-radius(10px);/* specifies 10px of border-radius */
}
@mixin circle($width, $color){
    border-radius: $width / 2;
    background-color: $color;
}
@mixin triangle($width, $dir, $color){
    @if $dir == up {
        width: 0; height: 0;
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-top: $width soid $color;
    } @else if $dir == down {
        width: 0; height: 0;
        border-left: $width solid transparent;
        border-right: $width solid transparent;
        border-top: $width soid $color;
    }
}

/* Nesting: matches HTML nesting. */
/* one specific anchor inside a p.par1 of div.grad */
.grad {
    .par1 {
        a {
            font-size: 20px;
        }
    }
}
/* Sass would convert it to normal css below: */
div.grad p.par1 a {
    
}

/* Selector Inheritance */
.outer {
    
}
.feature {
    @extend .outer;
    border: 1px;
}

/* Use a list */
$icons:(twitter,facebook,youtube,rss);
@each $social in $icons {
    .#{$social} {
        background:url('../img/#{$social}.png') no-repeat;   
    }
}
/* String interpolation syntax is #{}  */
/* output from above for twitter */
.twitter {
    background: url('../img/twitter.png') no-repeat;
}

$map: (key1: val1, key2: val2);