/*
*
*/

html, body {
    height: 100%;
}

/* Required to push content from under navbar */
body {
    padding-top: 70px;
}

/* Carousel items */
.item {
    background: #333;    
    height: 460px !important;
}

/*  */
.carousel {

}

.carousel-caption {
    
}

/* Removes arrows and gradient */
.right.carousel-control, 
.left.carousel-control {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Reduce mouse area near input fields */
.left.carousel-control {
    width: 3%;
}

/* Login and Register titles */
div.panel-heading {
    font-weight: bold;
    font-size: 18px;
}

/* Non-Collapsable Navbar */
.navbar-nav.mini {
    margin:0;
}
.navbar-nav.mini > li {
    float:none;
    display:inline-block;
    font-weight: bold;
}
.navbar-nav.mini > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav.mini > li.open > ul.dropdown-menu {
  position: absolute;
  border: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

a.navbar-brand {
    color: orange !important;
}

/* Area around search box */
#searchfield {
    /*background-color: orange !important;*/
}
/*
#searchfield span.label.label-default, #searchfield input[type='text'] {
    float: left;
    display: inline;
}
*/

#searchTable td {
    
}
#errmsgLogin {
    color: red !important;
    font-size: 1.2em;
}
#errmsgRegister {
    color: red !important;
    font-size: 1.2em;
}

/* Push search results down */
div.input-group {
    margin-bottom: 15px;
}

/*  Purchase Link on Offers Page */
#offerLink {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}


#offerTable td {
  text-transform: capitalize;
}

/* Portrait & landscape phone */
@media (max-width: 480px) {
    #myCarousel .item {
        
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    
}

/* Large Desktop */
@media (min-width: 1200px) {
    
}