{# empty Twig template #}

<table class="table" id="searchTable" 
       data-totalPages="{{ searchResult.totalPages }}"
       data-currentPage="{{ searchResult.currentPage }}">
    <tbody>
        {% set columns = 3 %}
        {% for item in searchResult.products|length %}
            {% for col in 0..3 %}
                
            {% endfor %}
        {% endfor%}
    </tbody>
</table>